@import url('./__logo/header__logo.css');
@import url('./__lang-links/header__lang-links.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__list-item/header__list-item.css');
@import url('./__lang-link/_active/header__lang-link_active.css');

.header {
	width: calc(100% - 48px * 2);
	max-width: calc(1280px - 48px * 2);
	margin: 0 auto;
	margin-top: 28px;
	padding: 0 48px;
	display: flex;
	justify-content: space-between;
}

@media screen and  (max-width: 768px) {
	.header {
		width: calc(100% - 24px * 2);
		max-width: calc(768px - 24px * 2);
		padding: 0 24px;
	}
}

@media screen and (max-width: 425px) {
	.header {
		width: calc(100% - 16px * 2);
		max-width: calc(425px - 16px * 2);
		padding: 0 16px;
	}
}



