.footer__link {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.1;
	text-decoration: none;
	transition: .1s ease-in;
	color: #fff;
}

.footer__link:hover {
	opacity: .8;
}


/* 
 @media screen and (max-width: 767px) {
	.footer__links {
		flex-direction: column;
		font-size: 24px;
		line-height: 1;
		
	}
} */


@media screen and (max-width: 999px) {
	.footer__link {
		font-size: 14px;
		line-height: 1;

	}
}

@media screen and (max-width: 710px) {
	.footer__link {
		flex-direction: column;
		font-size: 24px;
		line-height: 1;
	}
}



