@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__list-number/intro__list-number.css');
@import url('./__list-item/intro__list-item.css');

.intro {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 984px;
	padding: 92px 0;
}


@media screen and (max-width: 1024px) {
	.intro {
		padding: 88px 48px 0;
		max-width: calc(100% - 48px*2);
	}
}

@media screen and (max-width: 768px) {
	.intro {
		padding: 88px 24px 88px;
		max-width: calc(100% - 24px*2);
	}
}

@media screen and (max-width: 425px) {
	.intro {
		padding: 64px 16px 64px;
		max-width: calc(100% - 16px*2);
	}
}
