.places__description {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}

@media screen and (max-width: 625px) {
	.places__description  {
        flex-direction: column;
        margin-top: 32px;
	}
}